body{
    background-color: rgb(230, 225, 219);
    font-family: 'Lucida Sans';
    background-image: url("bricks.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.menuStyle
{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.div1
{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

input{
    font-size: large;
    margin: 2%;
    align-items: center;
    
}
/* .cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    padding: 12%;
    margin-top: 15%;
    
} */

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    background-color: none;
    margin-left:15%;
    margin-right: 15%;
    margin-bottom: 3%;
    
    
}

.item1 {
    order: 1; /* This will be displayed first */
}
.item2 {
    order: 2; /* This will be displayed second */
}


.div3{
    display: flex;
    flex-direction: row;
    margin-top: 60%;
    
   
    
}

.div2{
    display: flex;
    flex-direction: row;
    margin-top: 21%;
    
}
button{
    font-size: large;
    background-size:auto;
    margin-left: 5%;
    margin-top: 5%;
    background: none;
}

.hided
{
    display: none;
}
span
{   
    font-weight: bold;
    align-content: center;
    color: rgb(174, 24, 24);
    font-size:medium ;
}
.styled-table {
    border-collapse: collapse; /* Merge borders into a single line */
    width: 100%;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px; /* Space between values */
    border-bottom: 1px solid #dddddd; /* Intermediate lines */
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1; /* Hover effect */
}

.buttonsShow
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}

table
{
    border-style: double;
    
    
}
.buttonsDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    
}

.buttonsRow
{
    display: flex;
    flex-direction: column;
    font: bold;
}
